<% include ./partials/header %>

<div id='newbook' class="ui main text container segment">
    
    <div class="ui huge header"> <%= book.title %> </div>
    
    <div class="ui header"> <%= book.Author %> </div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= book.image %>" >
            <div class="content">
                <span><%= book.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- book.body %></p>
            </div>
            <a class="ui orange basic button" href="/books/<%= book._id %>/edit">Edit</a>
            <form id="delete" action="/books/<%= book._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>